@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<CruzKITELEC1C.Models.Instructor>
@{    
}
<h1>Lab Activity</h1>

<div>
<table class="table table-light">
    
    <tr>
        <th>ID</th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Rank</th>
        <th>Hiring Date</th>
        <th>Status</th>
    </tr>
    @{
        foreach(var inst in Model)
        {
            <tr>
                <td>@inst.InstructorId</td>
                <td>@inst.InstructorFirstName</td>
                <td>@inst.InstructorLastName</td>
                <td>@inst.Rank</td>
                <td>@inst.HiringDate</td>
                <td>@{
                        if(inst.IsTenured == true)
                        {
                            <span>Full-Time</span>
                        }
                        else
                        {
                            <span>Part-Time</span>
                        }
                    }
                </td>
                <td>
                    <a  asp-action="ShowDetails" asp-route-id="@inst.InstructorId">Show Details</a>
                </td>
            </tr>
        }
    }   
</table>
</div>