@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Student List</h1>
<a class="btn btn-primary" asp-action="AddStudent">Add Student</a>

<table class="table table-light">
    <tr>
        <td>Name</td>
        <td>Course</td>
        <td>Date Enrolled</td>
        <td>Email</td>
        <td>GPA</td>
        <td>Details</td>
        <td>Update</td>
    </tr>
    @foreach (var student in Model)
    {
        <tr>
            <td>@student.FirstName @student.LastName</td>
            <td>@student.Course</td>
            <td>@student.AdmissionDate</td>
            <td>@student.Email</td>
            <td>@student.GPA</td>
            <td><a class="btn btn-primary" asp-action="ShowDetails" asp-route-id="@student.Id">Show Details</a></td>
            <td><a class="btn btn-primary" asp-action="UpdateStudent" asp-route-id="@student.Id">Update</a></td>
        </tr>
    }
</table>
